// Normalize Styles
@import 'node_modules/normalize.css/normalize';

// Import Modules
// @import '../_modules/link/link';
@import '_fonts';
@import '_charts';
@import 'node_modules/leaflet-minimap/src/Control.MiniMap';
@import '_map';
@import 'node_modules/leaflet/dist/leaflet';

/* Bring in the Hechinger Report styles */
@import '_hechinger';

// Box sizing partial styles:
// Apply a natural box layout model to all elements
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.yeogurt-info {
  text-align: center;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}
.version {
  font-size: 14px;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.logo {
  margin-top: 15px;
}

// Styling on warning for users on IE7 or below
.browsehappy {
  text-align: center;
  margin: 0;
  background: #fff8e2;
  color: #000;
  padding: 0.5em 0;
}
body {
    margin: 0 auto;
    padding: 0;
    font-family: Verdana, sans-serif;
    background-color: white;
}

header, h1, h3 {
    font-family: $font-stack;
}
section {
    max-width: 880px;
    margin: 20px auto 15px auto;
    padding: 0px 10px 15px 10px;
}

.byline {
    margin: 6px 0 0 0;
    font-size: 13px;
}
.byline a {
    text-transform: uppercase;
    color:black;
    font-weight:bold;
}
.pubdate {
    margin: 8px 0 0 0;
    font-size: 10px;
    text-transform: uppercase;
    font-family: sans;
}
p:first-child:first-letter {
  float: left;
  font-size: 75px;
  line-height: 60px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
}
section {
    display: inline-block;
}
section p {
    font-size: 17px;
    line-height: 27px;
    margin: 0 0 20px 0;
}
section p:last-child {
    margin: 0;
}
#map {
    width: 100%;
    height: 325px;
}
.leaflet-tooltip {
    padding: 1px;
    font-size: 11px;
}
@media (max-width: 420px) {
    .leaflet-control-minimap { display: none; }
}
h3 {
  text-align:center;
  font-size: 20px;
}
p.graf{
  margin: 0 180px 30px 180px;
}
.content {
  margin-top: -50px;
  margin: 0;
  padding:0 50px;

}
.content-inner {
  margin:-50px 20px 0 20px;
  padding:20px;
  background-color:white;
  border-top: 2px solid black;
}

.content-inner h1 {
  font-size:30px;
}

#map {
  margin: 20px 0;
}